<h1>Writeable user homepage</h1>
<ul>
  <li><a href="my_pdf_file.pdf">PDF 1</a>   <button> view </button> <button> edit </button></li>
  <li><a href="my_pdf_file.pdf">PDF 2</a>   <button> view </button> <button> edit </button></li>
  <li><a href="my_pdf_file.pdf">PDF 3</a>   <button> view </button> <button> edit </button></li>
</ul>